{% extends 'base.html' %}

{% block content %}
  <h2 class="text-center text-3xl font-bold mb-6">Theaters</h2>

  {% if theaters.count > 0 %}
    <table class="min-w-full bg-white rounded-lg shadow-md overflow-hidden">
      <thead class="bg-blue-200 text-left text-gray-700 uppercase text-sm">
        <tr>
          <th class="p-3 text-left">Name</th>
          <th class="p-3">Location</th>
          <th class="p-3">Number of Screens</th>
          <th class="p-3">Capacity</th>
        </tr>
      </thead>
      <tbody>
        {% for theater in theaters %}
          <tr>
            <td class="p-3">{{ theater.name }}</td>
            <td class="p-3">{{ theater.location }}</td>
            <td class="p-3">{{ theater.num_screens }}</td>
            <td class="p-3">{{ theater.capacity }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No theaters</p>
  {% endif %}
{% endblock %}
